.articles
  .content
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin: auto
    max-width: 900px
    gap: 20px

  & > a
    flex: 1
    min-width: 200px
    max-width: 300px
    margin: 10px
    cursor: pointer
    transition: all 0.3s

    &:hover
      transform: scale(1.05)